<ul class="up-discription__list " ng-repeat="disc in store.downDiscriptionList | filter:{nameClassData:'homeworld'}">
	<li class="up-discription__text"><span class="up-discription__topic"><u>World name</u>: </span>{{disc.name}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Climate</u>: </span>{{disc.climate}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Diameter</u>: </span>{{disc.diameter}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Gravity</u>: </span>{{disc.gravity}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Orbital period</u>: </span>{{disc.orbital_period}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Population</u>: </span>{{disc.population}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Rotation period</u>: </span>{{disc.rotation_period}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Surface water</u>: </span>{{disc.surface_water}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Terrain</u>: </span>{{disc.terrain}}</li>
</ul>