<ul class="up-discription__list " ng-repeat="disc in store.downDiscriptionList | filter:{nameClassData:'species'}">
	<li class="up-discription__text"><span class="up-discription__topic"><u>Species name</u>: </span>{{disc.name}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Average lifespan</u>: </span>{{disc.average_lifespan}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Language</u>: </span>{{disc.languagen}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Classification</u>: </span>{{disc.classification}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Designation</u>: </span>{{disc.designation}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Average height</u>: </span>{{disc.average_height}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Eye colors</u>: </span>{{disc.eye_colors}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Hair colors</u>: </span>{{disc.hair_colors}}</li>
	<li class="up-discription__text"><span class="up-discription__topic"><u>Skin colors</u>: </span>{{disc.skin_colors}}</li>
</ul>